.content2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

.content1 {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

.content3 {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

.header__title {
  width: 538px;
  height: 118px;
  font-size: 48px;
  color: rgba(1, 116, 177, 1);
  font-weight: 800;
  text-align: center;
}

.start__btn {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25);
  background: linear-gradient(rgba(64, 151, 197, 0.99), rgba(1, 116, 177, 1));
  border: none;
  width: 410px;
  height: 80px;
  border-radius: 21px;
  font-size: 40px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.start__btn:hover {
  box-shadow: 0px 4px 5px 0px rgba(64,151,197,0.75);
-webkit-box-shadow: 0px 4px 5px 0px rgba(64,151,197,0.75);
-moz-box-shadow: 0px 4px 5px 0px rgba(64,151,197,0.75);

}

.entity__btn {
  width: 420px;
  height: 80px;
  border-radius: 21px;
  font-weight: 500;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.25);
  background: linear-gradient(rgba(64, 151, 197, 0.99), rgba(1, 116, 177, 1));
  color: rgba(255, 255, 255, 1);
  font-size: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.block p {
  color: rgba(119, 112, 112, 1);
}

.back__btn{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25);
  // background: linear-gradient(rgba(64, 151, 197, 0.99), rgba(1, 116, 177, 1));
  border: 3px solid rgba(1, 116, 177, 1);
  width: 410px;
  height: 40px;
  padding: 40px 0px;
  border-radius: 21px;
  font-size: 40px;
  font-weight: 600;
  color: rgba(1, 116, 177, 1);
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.back__btn:hover{
  background: rgba(1, 115, 177, 0.092);
}

.back__btn2{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25);
  border: 3px solid rgba(1, 116, 177, 1);
  width: 410px;
  height: 20px;
  padding: 30px 0px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(1, 116, 177, 1);
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.back__btn2:hover{
  background: rgba(1, 115, 177, 0.092);
}