body{
  overflow-y: hidden;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.header__title h1 {
  width: 844px;
  font-weight: 600;
  font-size: 40px;
  color: rgba(51, 48, 48, 1);
}

.header__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__content p {
  width: 690px;
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
}

.white_block{
  background-color: white;
  width: 400px;
  height: 800px;
  position: absolute;
  top: 290px;
  // border: 1px solid black;
}

.btns {
  display: flex;
  // flex-direction: column;
  gap: 20px;
  margin-top: 70px;
}
.btn {
  cursor: pointer;
  width: 450px;
  height: 80px;
  border-radius: 15px;
  font-size: 26px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.25);
  color: rgba(1, 116, 177, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(1, 116, 177, 1);
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgba(1, 116, 177, 1);
  color: rgba(255, 255, 255, 1);
}
